<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<style>
			h1{
				margin-bottom:0.45em;
			}
		</style>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

<div class="day1">
	<h1>Day1</h1>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam accusantium voluptates quasi nobis perspiciatis, natus cum ex sunt, minima ab praesentium ducimus harum neque alias? Ut molestias modi ipsa voluptatum nisi, placeat quia atque facere quam, eum iure numquam harum est blanditiis, ipsum asperiores voluptatibus maxime! Reiciendis, culpa harum dolorem distinctio quasi sint vitae aspernatur vero ut quas enim facere ipsum magni sit fugit amet aliquid. Dolor, quae eaque. Dolorum modi, voluptate earum quis maxime inventore culpa iure? Laborum sunt mollitia ipsam nam architecto vitae minima hic optio amet, quibusdam ex possimus fugiat explicabo unde dolore aut deserunt non iste.
</div>

<hr>

<div class="day2">
	<h1>Day2</h1>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, qui. Nobis ratione alias assumenda, quasi iusto ea? Esse, officia. Et ratione enim dicta voluptas assumenda, nobis autem suscipit nam corrupti praesentium fuga. Perspiciatis similique atque unde laboriosam deserunt quisquam asperiores qui optio rem! At repudiandae nobis, rerum ad pariatur quo quaerat. Qui soluta repellendus, quibusdam accusamus cumque eos ratione non excepturi fugit laborum reiciendis veniam minus cum quaerat eligendi fugiat! Natus, tempora cupiditate dolores odit dolorum vero nobis distinctio, nihil quas, corporis impedit placeat reprehenderit quibusdam facilis recusandae porro. Deleniti nihil, culpa molestiae adipisci ratione aut soluta natus voluptatum illum?
</div>

<hr>

<div class="day3">
	<h1>Day3</h1>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem eius dolor ab, tempore consectetur deleniti esse nulla quo? Eum eaque porro nesciunt praesentium laborum, delectus blanditiis, autem sint officia, dicta corrupti aliquid? Fuga aspernatur iste vel exercitationem quaerat ullam. Officiis consequatur suscipit minus perferendis eaque nihil doloremque dignissimos, autem quibusdam eligendi, quod architecto saepe sit modi, vel laudantium. Odio, nihil facilis. Eveniet vitae illum iure labore vero, laudantium aspernatur quas consequatur ad animi ea a. Error odit esse maxime! Quis ratione soluta pariatur animi sequi, deserunt molestias hic voluptas ex necessitatibus eveniet beatae fugit voluptate ea dolorum magnam, architecto iusto?
</div>
<hr>

{% endblock %}

</body>


