<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br>
  <b>2019 DKU FESTIVAL 방명록</b>
  <p>
    <form action="{% url 'create' %}">
      <p><b>name : </b><br>
      <input type="text" name="name">
      <br><br>
      <b>contents : </b>
      <textarea cols=40 rows=2 name="body"></textarea></p>
      <input class="btn btn-success" type="submit" value="한마디 남기기" style="float:right">
    </form>
  </p>
</div>


<br><br>

<p style="font-size:0.8em;text-align:center;">※삭제가 불가능합니다 예쁘고 고운말만 써주세요※</p>

<div class="container">
  <br>
  <!--이거 역순으로 나오게 바꾸기 (최신게 위로 - 쿼리셋 메소드 찾아보기)-->
  {% for wirte in wirtes %}
  <div class="card">
    <div class="card-body">
      <b>{{wirte.name}}</b>
      <p>{{wirte.body}}</p>
    </div>
  </div>
  <br>
  {% endfor %}
</div>

<marquee behavior="" direction="">멋쟁이사자처럼 7기   구아영   권영주   김보민   김성규   김원호   김재훈   김지수   김지현   김태홍   노유정   박태윤   박현주   변상운   손성덕   신경섭   이동규   이라은   이채연   이필립   이환주   임수정   정재현   조현지   천예원   최수빈</marquee>

<br><br>

{% endblock %}

</body>
