<head>
<style>

body, html{
    margin:0;padding:0;
}
.contents{
    margin:0;padding:0;
    background-color:black;
    color:white;
}
.container-fluid{
    text-align:center;
    margin:0;padding:0;
}

form{
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

form div input{
    width:55vw;
}


</style>
</head>

<body>
    

{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
{% if records is not none %}
    <br>
    <h3 style="margin-top:0">- 명예의전당 -</h3>
    <h1 style="margin-bottom:1em;">
        축하합니다!
    </h1>
{% endif %}

{% if records is not none %}
    <div class="records">
        {% for record in records.all  %}
        <div>
        <h1>{{record.pk}}등 : {{record.name_summary}}님 </h1>
        <p>{{record.pub_date}}</p>
        <p>{{record.body_summary}}</p>
        </div>
        {% endfor %}
    </div>
    <br><br>
{% endif %}


{% if records is none %}

    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/V95ZMjZwiWw?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>이름과 한마디를 입력하시면 <br>기록과 랭킹을 확인하실 수 있습니다!</p>

    <form action="{% url 'create_record' %}">
        <div>
            <input type="text" name="name" placeholder="존귀한 이름을 입력하세요 (10자 이내)"><br>
            <input type="text" name="body" placeholder="남기고 싶은 한마디 (20자 이내)">
        </div>
        <input type="submit">
    </form>
    <br><br>
{% endif %}

</div>

{% endblock %}



</body>