<head>
<style>

body, html{
    margin:0;padding:0;
}
.contents{
    margin:0;padding:0;
    text-align:center;
    background-color:black;
    color:white;
    line-height:1.5em;
}
.container-fluid{
    text-align:center;
    margin:0;padding:0;
}

</style>
</head>

<body>
    

{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
<br>
<h3 style="margin-top:0.3em;font-size:1.5em">Mystery Game</h3>
<p style="font-size:1em;margin-top:-0.8em">- stage 2 -</p>

<h3>
    (번쩍)
</h3> 
<br>

{% load static %}

<img src="{% static 'yellow_stone.png' %}" alt="" width="30%">

<br><br>

<p>어!!! 스톤이 생겼다!! <br>
이건 무슨 스톤이지? <br>
inssa stone...인싸스톤?? <br>
이제 나도 인싸가 될 수 있는건가? <br>
학교 다른 곳도 찾아볼까? <br>
<br>
.<br>
.<br>
.<br>
<br>
범정관에 분수도 틀었네!!<br>
여기에 이상한 책이 있잖아<br>
(너무 의심스러운데..)<br></p>

<img src="{% static 'quiz/q02.png'%}" alt="" width="100%">

<br><br>

<p>
뭐지 원소기호 인가?<br>
물음표에 들어갈 4개를 알아야하는데... <br>
Si는 규소, N은 질소, Ce는...뭐지?? <br>
Si N Ce... <br>
SiNCe... <br>
원소기호가 아닌가..?! <br>
</p>

<div id="hint"></div>

<form id="userInputForm" action="{% url 'stage3' %}">
    <input id="userInput" type="text" name="answ3" placeholder="정답을 입력해주세요">
    <input type="submit">
</form>


</div>





<script>
    const userInputForm = document.getElementById('userInputForm');
    const userInput = document.getElementById('userInput');
    const hint = document.getElementById('hint');

    function inputValidate2(event){
        event.preventDefault();
        let currentValue = userInput.value;
        if (currentValue !== '1947' && currentValue !== '1 9 4 7'){
            hint.innerText = "Hint) 숫자 4개"
            userInput.value = ""
        }else{
            userInputForm.submit();
        }
    }
    
    function init(){
        userInputForm.addEventListener('submit', inputValidate2);
    }

    init();
</script>


</body>

{% endblock %}