<head>
<style>

body, html{
    margin:0;padding:0;
}
.contents{
    margin:0;padding:0;
}
.container-fluid{
    text-align:center;
    background-color: pink;
    margin:0;padding:0;
}

</style>
</head>

<body>
    

{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
<br>
<h3 style="margin-top:0">- STAGE 4 -</h3>

4444

<br><br>
<br>

<form action="{% url 'hallofthefame' %}">
    <input type="text" name="answ4" placeholder="정답을 입력해주세요">
    <input type="submit">
</form>

<br><br>

</div>

{% endblock %}

</body>